ONEDRIVE_CLIENT_ID="00000000-0000-0000-0000-000000000000"
ONEDRIVE_TENANT="common"
ONEDRIVE_SCOPES="offline_access User.Read Files.ReadWrite"
# Optional for live deleted-item restore on personal OneDrive:
# ONEDRIVE_SCOPES="offline_access User.Read Files.ReadWrite Files.ReadWrite.All"
ONEDRIVE_KEYCHAIN_SERVICE="Codex OneDrive"
